aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
charset-normalizer==3.0.1
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comtypes==1.2.0
discord.py==2.1.1
EasyProcess==1.1
entrypoint2==1.1
flake8==6.0.0
frozenlist==1.3.3
idna==3.4
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
numpy==1.26.2
orjson==3.9.9
Pillow==10.0.1
psutil==5.9.6
PyAutoGUI==0.9.54
pycodestyle==2.10.0
pyflakes==3.0.1
PyGetWindow==0.0.9
Pygments==2.16.1
PyHook3==1.6.1
PyMsgBox==1.0.9
pynvml==11.4.1
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil==2.8.2
pyttsx3==2.90
pytweening==1.0.7
pywin32==306
pywinauto==0.6.8
rich==13.6.0
scalene==1.5.31.1
scipy==1.11.4
screeninfo==0.8.1
six==1.16.0
snakeviz==2.2.0
tornado==6.3.3
win10toast==0.9
yarl==1.8.2
